{% extends 'analyzer/base.html' %}
{% block title_block %}Dual Profile Comparison{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    {% for message in messages %}
    <div class="alert alert-danger fade show text-center" role="alert">
      {{ message }}
    </div>
    {% endfor %}

    {% if user1 and user2 %}

    <div class="text-center table-responsive mt-4">
      <p style="font-size: 5vh;"><span style="color: {{ user1.curColor }}">{{ user1.handle }}</span> VS <span style="color: {{ user2.curColor }}">{{ user2.handle }}</span></p>

      <table class="table table-hover comparison-table mt-3">
        <tbody>

          <tr>
            <th scope="row">Rank</th>
            <td style="color: {{ user1.curColor }}">{{ user1.rank|title }}</td>
            <td style="color: {{ user2.curColor }}">{{ user2.rank|title }}</td>
          </tr>

          <tr>
            <th scope="row">Rating</th>
            <td style="color: {{ user1.curColor }}">{{ user1.rating }}</td>
            <td style="color: {{ user2.curColor }}">{{ user2.rating }}</td>
          </tr>

          <tr>
            <th scope="row">Max. Rating</th>
            <td style="color: {{ user1.maxColor }}">{{ user1.maxRating }}</td>
            <td style="color: {{ user2.maxColor }}">{{ user2.maxRating }}</td>
          </tr>

          <tr>
            <th scope="row">Min. Rating</th>
            <td style="color: {{ user1_contest.minColor }}">{{ user1_contest.minRating }}</td>
            <td style="color: {{ user2_contest.minColor }}">{{ user2_contest.minRating }}</td>
          </tr>

          <tr>
            <th scope="row">Min. Standing</th>
            <td>{{ user1_contest.maxStanding }}</td>
            <td>{{ user2_contest.maxStanding }}</td>
          </tr>

          <tr>
            <th scope="row">Max. Standing</th>
            <td>{{ user1_contest.minStanding }}</td>
            <td>{{ user2_contest.minStanding }}</td>
          </tr>

          <tr>
            <th scope="row">Friends</th>
            <td>{{ user1.friendOfCount }}</td>
            <td>{{ user2.friendOfCount }}</td>
          </tr>

          <tr>
            <th scope="row">Total Sub.</th>
            <td>{{ user1_submission.totalSub }}</td>
            <td>{{ user2_submission.totalSub }}</td>
          </tr>

          <tr>
            <th scope="row">Successful Sub.</th>
            <td>{{ user1_submission.successSub }}</td>
            <td>{{ user2_submission.successSub }}</td>
          </tr>

          <tr>
            <th scope="row">Failed Sub.</th>
            <td>{{ user1_submission.failedSub }}</td>
            <td>{{ user2_submission.failedSub }}</td>
          </tr>

          <tr>
            <th scope="row">Ratio</th>
            <td><span class="tab text-success">{{ user1_submission.successRatio }}</span> : <span class="text-danger">{{ user1_submission.failedRatio }}</span></td>
            <td><span class="tab text-success">{{ user2_submission.successRatio }}</span> : <span class="text-danger">{{ user2_submission.failedRatio }}</span></td>
          </tr>

          <tr>
            <th scope="row" class="mt-3">Top Solved Indexs</th>
            <td>
              {% for index,count in user1_submission.topSuccessIndex.items %}
              {{index}} : {{count}}<br>
              {% endfor %}
            </td>
            <td>
              {% for index,count in user2_submission.topSuccessIndex.items %}
              {{index}} : {{count}}<br>
              {% endfor %}
            </td>
          </tr>

          <tr>
            <th scope="row" class="mt-4">Top Solved Tags</th>
            <td>
              {% for tag,count in user1_submission.topTags.items %}
              {{tag|title}} : {{count}}<br>
              {% endfor %}
            </td>
            <td>
              {% for tag,count in user2_submission.topTags.items %}
              {{tag|title}} : {{count}}<br>
              {% endfor %}
            </td>
          </tr>

        </tbody>
      </table>
    </div>



    {% else %}
    <div class="jumbotron mt-3">
      <center>
        <form class="w-75" method="POST">
          {% csrf_token %}
          <input class="form-control mr-sm-2 input-form" action="/" name="first" placeholder="First user's CF Handle" required>
          <input class="form-control mr-sm-2 mt-2 input-form" action="/" name="second" placeholder="Second user's CF Handle" required>
          <button class="btn btn-outline-success mt-3" type="submit">Go, Fetch!</button>
        </form>
      </center>
    </div>
    <br><br><br>
    {% endif %}
  </div>

  <div class="col-sm-1"></div>
</div>


{% endblock %}
